{% extends 'base.html' %}
{% block title %}アカウント登録{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
  <div class="card-body text-center">
    <h3 class="card-title">ログイン</h3>
    {{ msg }}
    <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="username" class="form-label">ユーザー名</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="ユーザー名">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">パスワード</label>
        <input type="text" name="password" id="password" class="form-control" placeholder="パスワード">
    </div>
    <div class="mb-3">
        <input type="submit" value="ログイン" class="btn btn-primary w-100">
    </div>
</form>
  </div>
</div>
    </div>
  </div>
</div>


{% endblock %}