{% extends 'base.html' %}
{% block title %}更新ページ{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="mb-4">ブログ記事の更新</h2>
      <form method="POST" action="{{ url_for('update', post_id=post.id) }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">タイトル</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="タイトル" value="{{ post.title }}">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">記事</label>
            <textarea type="text" name="body" id="body" rows="8" class="form-control" placeholder="記事を入力">{{ post.body }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
</form>
    </div>
  </div>
</div>
{% endblock %}